PointerAlignment: Right
IncludeBlocks: Preserve
AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
SpaceAfterCStyleCast: true
AccessModifierOffset: -4
ColumnLimit: 140
IndentWidth: 4
